@import 'tailwindcss';


@theme {
    --color-skyBlue: #B0DCFF;
    --color-lightPink: #E2DCFE;
    --color-blue: #0046D1;
    --color-white: #FFFFFF;
    --color-lightRed: #E3C9C9;
    --color-red: #D30404;
    --color-darkPurple: #0F0C2D;
    --color-purple: #E2DCFE;
    --color-beize: #FEE5E4;
}